<div class="alert">
    <div class="alert__info">
        <h1 class="alert__title"> Успішне виконання дії </h1>
        <p>{{info}}</p>
    </div>

    {{!-- <h1 class="alert__title"> {{info}} </h1> --}}
    <button class="alert__button">
        <a href="/product-list">Повернутися назад</a>
    </button>

</div>